 body {
    background-image: url(https://img.freepik.com/fotos-premium/onda-abstracta-animacion-onda-purpura-bucle-fisuras-4k-fondo-tecnologia-purpura_518816-3085.jpg?size=626&ext=jpg);
    background-size: 100% auto;
    margin-left: 50px;
     margin-right: 50px;
    color: white;
     
 }

header {
    border:2px solid #8B008B;
    background-color: rgba(221, 160, 221, 0.3);
    color: #e91e63;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: #e91e63; 
}

center {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
    

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    display: block;
    background-color: rgba(221, 160, 221, 0.3);
    border:2px solid #8B008B;
    padding: 25px;
    border-radius: 70%; 
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
        transition: background-color 0.3s;
}

a:hover {
    background-color: #7B68EE; 
}

